<header>
  <div class="logo-usuario">

    <img src="img/carrito.jpg" alt="Carrito" class="carrito-icon">
    
    <h1>Click&Shop</h1>
    <span class="nombre-usuario">Bienvenido, "nombre-usuario"</span>
    
    
  </div>

  <nav class="navegacion">
    <a href="/home">Home</a>
    <a href="/productos">Productos</a>
    <a href="/favoritos">Favoritos</a>
    <a href="/filtros">Filtros</a>
  </nav>
</header>

<main class="contenido-principal">
  <div class="formulario-login">
    <label for="usuario">Usuario</label>
    <input type="text" id="usuario" placeholder="Ingresa tu usuario">
    
    <label for="contrasena">Contraseña</label>
    <input type="password" id="contrasena" placeholder="Ingresa tu contraseña">
    
    <div class="botones">
      <button class="boton-iniciar-sesion">Iniciar sesión</button>
      <button class="boton-registrarse">Registrarse</button>
    </div>
  </div>
</main>

<footer>
  <div class="footer-content">
    <span class="phone">+34 0000000000</span>
    <span class="separador"> | </span>
    <span class="close-button">X</span>
    <span class="separador"> | </span>

    <span class="email">clickshop&#64;gmail.com</span>
  </div>
</footer>


