/*CSS para la ventana de inicio home*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .logo h1 {
    font-size: 24px;
    color: #2c3e50;
  }
  
  .navegacion a {
    margin-left: 20px;
    text-decoration: none;
    color: #2c3e50;
    cursor: pointer;  
    font-size: 16px;
  }
  
  .informacion-usuario {
    display: flex;
    align-items: center;
  
    p {
      font-size: 14px;
    }
  }
  
  .contenido-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
    padding: 20px;
    text-align: center; 
  }
  
  .formulario-login {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-top: 250px; 
  }
  
  
  label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 5px;
  }
  
  .botones {
    display: flex;
    justify-content: space-between;
  
    .boton-iniciar-sesion, .boton-registrarse {
      width: 48%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #3498db;
      color: white;
      cursor: pointer;
      font-size: 14px;
    }
  
    .boton-iniciar-sesion:hover, .boton-registrarse:hover {
      background-color: #2980b9;
    }
  }
  
