 <header>
  <div class="logo-usuario">
      <img src="img/carrito.jpg" alt="Carrito" class="carrito-icon">
      <h1>Click&Shop</h1>
  </div>

  <nav class="navegacion">
      <a href="/home">Home</a>
      <a href="/productos">Productos</a>
      <a href="/supermercados">Supermercados</a>
      <a href="/favoritos">Favoritos</a>
      <a href="/filtros">Filtros</a>
  </nav>
</header>

<main class="contenido-principal">
  <div class="login-card">
    <img src="img/user-icon.png" alt="Usuario" class="user-icon">
    <h2>Bienvenido a Click&Shop</h2>

    <form>
        <label for="email">Email or Phone</label>
        <input type="text" id="email" placeholder="Enter your email or phone">

        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter your password">

        <div class="extra-options">
            <input type="checkbox" id="keep-signed-in">
            <a href="#" class="reset-password">Reset Password</a>
        </div>

        <button class="btn-login">Iniciar Sesión</button>

        <p class="signup-link">¿Aún no tienes cuenta? <a href="registro.html">Registrarse</a></p>
    </form>
</div>
</main>

<footer>
  <div class="footer-content">
      <span class="phone">+34 0000000000</span>
      <span class="separador"> | </span>
      <span class="close-button">X</span>
      <span class="separador"> | </span>
      <span class="email">clickshop&#64;gmail.com</span>
  </div>
</footer>