<header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Favoritos</a></li>
        <li><a href="#">Filtros</a></li>
        <li><a href="#">❓</a></li>
        <li><a href="#">👤</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    <h1>Click&Shop</h1>
    
    <div class="login-box">
      <form>
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" name="usuario">
        
        <label for="contrasena">Contraseña</label>
        <input type="password" id="contrasena" name="contrasena">
        
        <div class="buttons">
          <button type="submit">Iniciar Sesión</button>
          <button type="button">Registrarse</button>
        </div>
      </form>
    </div>
  </main>
  
  <footer>

  </footer>  