* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    background-color: white; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.barra-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navegacion-izquierda,
.navegacion-derecha {
    display: flex;
    align-items: center;

    a {
        margin-right: 20px;
        text-decoration: none;
        color: black; 
        font-size: 16px;
    }
}

.logo {
    font-size: 40px;
    color: black;
}

main {
    flex: 1;
    padding: 20px;
}

.contenedor-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.entrada-busqueda {
    width: 200px;
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
    font-size: 14px;
}

.boton-buscar {
    margin-left: 10px;
    padding: 8px 16px;
    background-color: dodgerblue; 
    color: white; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.cuadrícula-productos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.tarjeta-producto {
    background-color: gainsboro; 
    width: 100%;
    height: 150px;
    border-radius: 4px;
}

footer {
    background-color: lightgray; 
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contenido-pie {
    display: inline-block;
}

.telefono,
.boton-cerrar,
.email {
    font-size: 14px;
    margin: 0 5px;
}

.separador {
    color: gray;
}

.perfil {
    width: 40px; 
    height: 40px;
    object-fit: cover; 
    border-radius: 50%; 
}
