<header>
  <nav class="barra-navegacion">
    <div class="navegacion-izquierda">
      <a href="/home">Inicio</a>
      <a href="/supermercados">Supermercado</a>
    </div>

    <h1 class="logo">Click&Shop</h1>

    <div class="navegacion-derecha">
      <a  href="/favoritos">Favoritos</a>
      <a href="/filtros">Filtros</a>
    </div>
  </nav>
</header>

<main>
  <div class="contenedor-busqueda">
    <input type="text" class="entrada-busqueda" placeholder="Buscar">
    <button class="boton-buscar">Buscar</button>
  </div>

  <section class="cuadrícula-productos">
    <div class="tarjeta-producto"></div>
    <div class="tarjeta-producto"></div>
    <div class="tarjeta-producto"></div>
    <div class="tarjeta-producto"></div>
    <div class="tarjeta-producto"></div>
    <div class="tarjeta-producto"></div>
    <div class="tarjeta-producto"></div>
    <div class="tarjeta-producto"></div>
    <div class="tarjeta-producto"></div>
    <div class="tarjeta-producto"></div>
  </section>
</main>

<footer>
  <div class="contenido-pie">
    <span class="telefono">+34 0000000000</span>
    <span class="separador"> | </span>
    <span class="boton-cerrar">X</span>
    <span class="separador"> | </span>
    <span class="email">clickshop&#64;gmail.com</span>
  </div>
</footer>
